PORT=8080
CLIENT_URL=http://localhost:3000
DATABASE_URL=postgresql://user:password@host:port/dbname?sslmode=require
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

CLIENT_ID=
CLIENT_SECRET=
INNGEST_DEV=1
OPENROUTER_API_KEY=
GEMINI_API_KEY=
OPENAI_API_KEY=

# External Services
PINECONE_API_KEY=
PINECONE_INDEX=lumennote
FIRECRAWL_API_KEY=
TAVILY_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_PRESET=

INNGEST_EVENT_KEY=
INNGEST_SIGNING_KEY=
MEM0_API_KEY=
